@opdc:registry=https://git.opendata.center/api/v4/projects/122/packages/npm/
//git.opendata.center/api/v4/projects/122/packages/npm/:_authToken=__SET_OPDC_NPM_TOKEN_LOCALLY__
//git.opendata.center/api/v4/projects/122/packages/npm/:always-auth=true
